/* line 1, ../sass/_home.scss */
body {
  position: relative; }



.about-us {
  padding-top: 150px;
  background-color: rgba(214, 218, 219, 0.2);
  text-align: center;
  padding-bottom: 40px; }
  /* line 131, ../sass/_home.scss */
  .about-us h2 {
    font-family: "Playball", cursive; }
  /* line 138, ../sass/_home.scss */
  .about-us .bottom-about {
    margin-top: 24px; }

/* line 145, ../sass/_home.scss */
.owl-carousel-service .item {
  outline: 2px solid white;
  outline-offset: -10px;
  list-style: none;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  /* line 151, ../sass/_home.scss */
  .owl-carousel-service .item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 101%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    /* line 161, ../sass/_home.scss */
    .owl-carousel-service .item .overlay h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  /* line 169, ../sass/_home.scss */
  .owl-carousel-service .item:hover {
    outline: 2px solid #fc6251;
    outline-offset: -10px; }
  /* line 175, ../sass/_home.scss */
  .owl-carousel-service .item:hover .overlay {
    background-color: rgba(177, 20, 3, 0.4); }
/* line 182, ../sass/_home.scss */
.owl-carousel-service .owl-nav {
  text-align: center;
  margin-top: 15px;
  position: absolute;
  top: 39%;
  left: -20px;
  width: 100%; }
  /* line 189, ../sass/_home.scss */
  .owl-carousel-service .owl-nav .owl-prev {
    display: inline-block;
    margin-right: 15px;
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
    background-color: #fff;
    color: #b11403;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    -moz-box-shadow: 1px 1px 2px 0px #000;
    -webkit-box-shadow: 1px 1px 2px 0px #000;
    box-shadow: 1px 1px 2px 0px #000;
    position: absolute;
    left: -25px;
    padding-top: 15px;
    font-family: "Montserrat", sans-serif; }
  /* line 208, ../sass/_home.scss */
  .owl-carousel-service .owl-nav .owl-next {
    display: inline-block;
    text-transform: capitalize;
    text-align: center;
    background-color: #fff;
    color: #b11403;
    padding: 5px 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    -moz-box-shadow: 1px 1px 2px 0px #000;
    -webkit-box-shadow: 1px 1px 2px 0px #000;
    box-shadow: 1px 1px 2px 0px #000;
    position: absolute;
    right: -100px;
    padding-top: 15px;
    font-family: "Montserrat", sans-serif; }






/* line 1, ../sass/_other-pages.scss */
#about {
  background-size: cover;
  padding-top: 60px;
  background-position: 0% 0%;
  padding-bottom: 0; }
  /* line 8, ../sass/_other-pages.scss */
  #about img {
    margin: 0 auto;
    display: block; }
  /* line 13, ../sass/_other-pages.scss */
  #about h2 {
    text-align: center; }
  /* line 17, ../sass/_other-pages.scss */
  #about h1 {
    text-align: center; }
  /* line 21, ../sass/_other-pages.scss */
  #about p {
    text-align: center;
    margin-bottom: 0;
    font-weight: 400; }
  /* line 29, ../sass/_other-pages.scss */
  #about .smoke-position {
    width: 220px;
    height: 100px; }
  /* line 34, ../sass/_other-pages.scss */
  #about .food-plate {
    position: relative;
    z-index: 9999; }

/* line 40, ../sass/_other-pages.scss */
#wrap {
  margin: 0 auto;
  width: 800px;
  position: relative; }

/* line 45, ../sass/_other-pages.scss */
#viewport {
  position: relative;
  width: 800px;
  overflow: inherit;
  padding-top: 30px;
  height: 272px; }

/* line 53, ../sass/_other-pages.scss */
#viewport .smoke {
  position: absolute;
  width: 250px;
  height: 250px;
  background: url("http://demo.web3designs.com/smoke-texture.png") no-repeat;
  margin-left: 140px;
  margin-top: -200px; }

/* line 64, ../sass/_other-pages.scss */
#services .owl-carousel-service {
  padding-left: 0; }
  /* line 67, ../sass/_other-pages.scss */
  #services .owl-carousel-service .owl-prev {
    left: -57px; }
/* line 71, ../sass/_other-pages.scss */
#services h1 {
  text-align: center; }
/* line 75, ../sass/_other-pages.scss */
#services p {
  text-align: center; }
/* line 79, ../sass/_other-pages.scss */
#services .colorline {
  margin-bottom: 40px; }


@media only screen and (max-width: 1335px) {
  /* line 2, ../sass/_responsive.scss */
  .slider-section .slide-bottom-service .owl-nav .owl-prev {
    left: 50px; }

  /* line 5, ../sass/_responsive.scss */
  .slider-section .slide-bottom-service .owl-nav .owl-next {
    right: -31px; }

  /* line 9, ../sass/_responsive.scss */
  .owl-carousel-service-page .owl-nav {
    position: relative;
    left: 0; }
    /* line 13, ../sass/_responsive.scss */
    .owl-carousel-service-page .owl-nav .owl-prev {
      position: relative;
      left: unset;
      right: unset; }
    /* line 19, ../sass/_responsive.scss */
    .owl-carousel-service-page .owl-nav .owl-next {
      left: unset;
      right: unset; } }
@media only screen and (max-width: 1199px) {
  /* line 28, ../sass/_responsive.scss */
  .slider-section .slide-bottom-service .owl-nav {
    position: relative;
    left: unset;
    right: unset; }

  /* line 34, ../sass/_responsive.scss */
  .slider-section .slide-bottom-service .owl-nav .owl-prev {
    position: relative;
    left: unset;
    right: unset; }

  /* line 39, ../sass/_responsive.scss */
  .slider-section .slide-bottom-service .owl-nav .owl-next {
    position: relative;
    left: unset;
    right: unset; }

  /* line 45, ../sass/_responsive.scss */
  .about-us {
    padding-top: 105px; }

  /* line 49, ../sass/_responsive.scss */
  #menus-info .menu-wrapper .single-wrapper-row .cool-white {
    margin-top: -16px; }

  /* line 52, ../sass/_responsive.scss */
  .nav > li > a {
    padding: 10px 9px; } }
@media only screen and (max-width: 991px) {
  /* line 60, ../sass/_responsive.scss */
  header .navbar-default a img {
    max-width: 200px;
    margin: 0 auto; }

  /* line 66, ../sass/_responsive.scss */
  header .navbar-default ul li a {
    font-size: 20px; }

  /* line 70, ../sass/_responsive.scss */
  header .navbar-right {
    float: unset !important; }

  /* line 74, ../sass/_responsive.scss */
  .navbar-brand {
    float: unset;
    width: 100%; }

  /* line 78, ../sass/_responsive.scss */
  .navbar-header {
    width: 100%; }

  /* line 81, ../sass/_responsive.scss */
  .recent-work-wrap .recent-work-inner span {
    font-size: 21px; }

  /* line 84, ../sass/_responsive.scss */
  .recent-work-wrap .recent-work-inner span strong {
    font-size: 12px; }

  /* line 88, ../sass/_responsive.scss */
  header .navbar-default ul {
    width: 100%; }

  /* line 89, ../sass/_responsive.scss */
  header .nav {
    padding-left: 50px; }

  /* line 90, ../sass/_responsive.scss */
  .slider-section .slide-bottom-service {
    bottom: -160px; }

  /* line 94, ../sass/_responsive.scss */
  .slider-section .slide-bottom-service .owl-nav {
    top: 29%; }

  /* line 98, ../sass/_responsive.scss */
  .slider-section .slide-bottom-service {
    bottom: -244px; }

  /* line 102, ../sass/_responsive.scss */
  .contact-linker h1 {
    font-size: 28px; }

  /* line 105, ../sass/_responsive.scss */
  .contact-linker p {
    font-size: 14px; }

  /* line 109, ../sass/_responsive.scss */
  header .navbar-default ul li a {
    font-size: 16px; }

  /* line 113, ../sass/_responsive.scss */
  #viewport {
    width: 709px; }

  /* line 117, ../sass/_responsive.scss */
  #menus-info .menu-wrapper .single-wrapper-row .right-side-back img {
    margin: 0 auto; }

  /* line 121, ../sass/_responsive.scss */
  #menus-info .menu-wrapper .single-wrapper-row .right-side-back {
    margin-bottom: 0; }

  /* line 125, ../sass/_responsive.scss */
  #menus-info .menu-wrapper .single-wrapper-row {
    margin-bottom: 83px; }

  /* line 129, ../sass/_responsive.scss */
  #menus-info .menu-wrapper .single-wrapper-row .bottom-color {
    height: 0; }

  /* line 133, ../sass/_responsive.scss */
  #menus-info .menu-wrapper {
    overflow-x: hidden; }

  /* line 137, ../sass/_responsive.scss */
  #menus-info .menu-wrapper .single-wrapper-row .cool-white ul {
    width: 50%; }

  /* line 141, ../sass/_responsive.scss */
  #menus-info .menu-wrapper .single-wrapper-row-left .cool-white {
    z-index: 4; }

  /* line 145, ../sass/_responsive.scss */
  .modal .tab-content ul {
    width: 50% !important; }

  /* line 149, ../sass/_responsive.scss */
  header .nav {
    padding-left: 0px; } }
@media only screen and (max-width: 991px) and (min-width: 768px) {
  /* line 159, ../sass/_responsive.scss */
  .navbar-default .container {
    margin-left: 50px; } }
@media only screen and (max-width: 776px) {
  /* line 167, ../sass/_responsive.scss */
  .slider-section .slide-bottom-service {
    position: relative;
    transform: unset;
    left: unset;
    bottom: 47px; }

  /* line 174, ../sass/_responsive.scss */
  .owl-carousel.owl-carousel-service {
    padding-left: 0; }

  /* line 178, ../sass/_responsive.scss */
  .about-us {
    padding-top: 0; }

  /* line 181, ../sass/_responsive.scss */
  header .navbar-default ul li a {
    font-size: 17px; text-align: center } }
@media only screen and (max-width: 767px) {
  /* line 188, ../sass/_responsive.scss */
  header {
    z-index: 22; }

  /* line 191, ../sass/_responsive.scss */
  .contact-linker {
    text-align: center; }

  /* line 194, ../sass/_responsive.scss */
  .contact-linker .text-right {
    text-align: center; }

  /* line 197, ../sass/_responsive.scss */
  .contact-linker .main-button {
    margin-top: 10px; }

  /* line 201, ../sass/_responsive.scss */
  header .navbar-default a img {
    margin-left: 20px;
    max-width: 130px; }

  /* line 206, ../sass/_responsive.scss */
  .navbar-toggle {
    color: #fff;
    border: 1 solid #fff;
    border-radius: 50%;
    width: 40px;
    margin-top: 34px; }

  /* line 215, ../sass/_responsive.scss */
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
    color: #b11403; }

  /* line 220, ../sass/_responsive.scss */
  header .navbar-collapse {
    margin-top: 0;
    background: rgba(177, 20, 3, 0.7);
    position: relative; }

  /* line 227, ../sass/_responsive.scss */
  header .colorChange {
    color: #fff !important; }

  /* line 231, ../sass/_responsive.scss */
  #viewport {
    display: none; }

  /* line 234, ../sass/_responsive.scss */
  #about {
    padding-bottom: 40px; }

  /* line 238, ../sass/_responsive.scss */
  .top-wrapper {
    padding-top: 114px !important; }

  /* line 242, ../sass/_responsive.scss */
  .main-title-header h1 {
    font-size: 28px !important; }

  /* line 246, ../sass/_responsive.scss */
  #menus-info .menu-wrapper .single-wrapper-row .cool-white ul {
    width: 100%; }

  /* line 249, ../sass/_responsive.scss */
  .nav-tabs > li {
    float: unset; }

  /* line 253, ../sass/_responsive.scss */
  .iziModal-content p {
    font-size: 13px; }

  /* line 257, ../sass/_responsive.scss */
  #gallery-info img {
    width: 100%; }

  /* line 261, ../sass/_responsive.scss */
  #myCarousel .carousel-caption {
    display: none; } }
@media only screen and (max-width: 690px) {
  /* line 268, ../sass/_responsive.scss */
  .portfolio-filter > li a {
    margin-bottom: 20px;
    border: 0; }

  /* line 273, ../sass/_responsive.scss */
  .recent-work-wrap .recent-work-inner span {
    font-size: 15px; }

  /* line 277, ../sass/_responsive.scss */
  .recent-work-wrap .overlay:hover span {
    left: 12px;
    bottom: 12px; }

  /* line 282, ../sass/_responsive.scss */
  .grid-item, .grid-sizer {
    width: 100%; }

  /* line 286, ../sass/_responsive.scss */
  .menus-item .isotope-slide .portfolio-items {
    padding-left: 0; }

  /* line 290, ../sass/_responsive.scss */
  .contact-linker {
    text-align: center; }

  /* line 294, ../sass/_responsive.scss */
  footer .footer-bottom p {
    text-align: center; }

  /* line 298, ../sass/_responsive.scss */
  footer .footer-bottom p span {
    float: unset; }

  /* line 302, ../sass/_responsive.scss */
  footer {
    text-align: center; }

  /* line 306, ../sass/_responsive.scss */
  footer .footer-top .about-us-footer ul {
    text-align: center; }

  /* line 310, ../sass/_responsive.scss */
  .facebook-footer {
    margin: 0 auto;
    display: table; }

  /* line 315, ../sass/_responsive.scss */
  footer .footer-top {
    padding-bottom: 20px; }

  /* line 320, ../sass/_responsive.scss */
  #slide-82-layer-7 {
    border: 0 !important; }

  /* line 324, ../sass/_responsive.scss */
  #slide-82-layer-8 {
    border: 0 !important; }

  /* line 328, ../sass/_responsive.scss */
  #slide-82-layer-9 {
    border: 0 !important; }

  /* line 332, ../sass/_responsive.scss */
  .contact-linker h1 {
    font-size: 15px; }

  /* line 336, ../sass/_responsive.scss */
  .contact-linker p {
    font-size: 14px; }

  /* line 340, ../sass/_responsive.scss */
  .modal .tab-content ul {
    width: 100% !important; } }
/* line 8, ../sass/layout.scss */
body {
  overflow-x: hidden; }

/* line 9, ../sass/layout.scss */
ul {
  font-family: "", cursive; }

/* line 10, ../sass/layout.scss */
p {
  font-size: 16px;
  font-family: "", sans-serif; }

/* line 11, ../sass/layout.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "", cursive; }

/* line 13, ../sass/layout.scss */
.main-button {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-transform: capitalize;
  text-align: center;
  background-color: #ff0157;
  color: #fff;
  padding: 5px 25px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 2px 0px #000;
  -webkit-box-shadow: 1px 1px 2px 0px #000;
  box-shadow: 1px 1px 2px 0px #000; }
  /* line 24, ../sass/layout.scss */
  .main-button:hover {
    text-decoration: none;
    color: #fff; }

/* line 31, ../sass/layout.scss */
.colorChange {
  color: #ff0157; }

/* line 35, ../sass/layout.scss */
.main-topic-box {
  position: relative;
  margin-bottom: 50px; }
  /* line 39, ../sass/layout.scss */
  .main-topic-box img {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%, -50%); }

/* line 47, ../sass/layout.scss */
.alert {
  font-size: 15px;
  padding: 10px; }

/* line 52, ../sass/layout.scss */
#about-us-header-id {
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
  background-size: cover;
  background-position: 100%; }

/* line 57, ../sass/layout.scss */
#services-header-id {
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
  background-repeat: no-repeat;
  background-size: cover; }

/* line 63, ../sass/layout.scss */
#contact-header-id {
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
  background-size: cover; }

/* line 69, ../sass/layout.scss */
#testimonial-header-id {
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
  background-position: -40px;
  background-size: cover; }

/* line 75, ../sass/layout.scss */
#menu-header-id {
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
  background-size: cover; }

/* line 80, ../sass/layout.scss */
#outlet-header-id {
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
  background-size: cover; }

/* line 85, ../sass/layout.scss */
#gallery-header-id {
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
  background-size: cover; }

/* line 89, ../sass/layout.scss */
#menu-list-header-id {
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
  background-size: cover; }

/* line 94, ../sass/layout.scss */
.colorline {
  max-width: 20%;
  margin: 0 auto; }

/* line 100, ../sass/layout.scss */
.main-title-header {
  color: #fff;
  text-align: center; }
  /* line 104, ../sass/layout.scss */
  .main-title-header h1 {
    font-size: 70px;
    margin-bottom: 0;
    text-shadow: 3px 1px 3px #000;
    text-shadow: 3px 1px 3px 2px #000; }

/* line 112, ../sass/layout.scss */
.page-info {
  padding-top: 40px;
  padding-bottom: 60px; }

/* line 116, ../sass/layout.scss */
.modal {
  background: linear-gradient(rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0.98)), url("../images/logo.jpg"); }
  /* line 119, ../sass/layout.scss */
 
    /* line 147, ../sass/layout.scss */
    .modal .tab-content ul li {
      list-style: none;
      font-weight: 400;
      font-size: 12px;
      margin-bottom: 10px; }
      /* line 153, ../sass/layout.scss */
      .modal .tab-content ul li::before {
        position: relative;
        content: '\f0da';
        padding-right: 8px;
        font-family: '';
        font-weight: bold; }
  /* line 162, ../sass/layout.scss */
  .modal .nav-tabs {
    margin-bottom: 30px; }

/* line 168, ../sass/layout.scss */
.iziModal .iziModal-header.iziModal-noSubtitle .iziModal-header-title {
  font-weight: 600 !important; }

/*------------ wrappers ------------- */
/* line 173, ../sass/layout.scss */
.top-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 0px; }
  /* line 178, ../sass/layout.scss */
  .top-wrapper .breadcrumb {
    background-color: transparent;
    text-align: center;
    padding-top: 0; }
    /* line 182, ../sass/layout.scss */
    .top-wrapper .breadcrumb a {
      color: #fff;
      font-weight: 600; }
    /* line 187, ../sass/layout.scss */
    .top-wrapper .breadcrumb li + li:before {
      content: "\f178";
      font-family: '';
      color: #fff; }
    /* line 193, ../sass/layout.scss */
    .top-wrapper .breadcrumb .active {
      color: #d6dadb;
      font-weight: 600; }

/* line 200, ../sass/layout.scss */
.active {
  color: #fff !important; }

/* line 202, ../sass/layout.scss */
#about-us-header {
  background-image: url("../images/wrapper/about-us.jpg"); }

/* line 203, ../sass/layout.scss */
#services-header {
  background-image: url("../images/wrapper/services.jpg"); }

/* line 204, ../sass/layout.scss */
#contact-header {
  background-image: url("../images/wrapper/contact.jpg"); }

/* line 205, ../sass/layout.scss */
#testimonial-header {
  background-image: url("../images/wrapper/testimonials.jpg");
  background-position: top; }

/* line 206, ../sass/layout.scss */
#menu-header {
  background-image: url("../images/wrapper/menus-page.jpg");
  background-position: top; }

/* line 207, ../sass/layout.scss */
#outlet-header {
  background-image: url("../images/wrapper/outlet.jpg");
  background-position: top; }

/* line 208, ../sass/layout.scss */
#gallery-header {
  background-image: url("../images/wrapper/gallery.jpg");
  background-position: top; }

/* line 209, ../sass/layout.scss */
#menu-list-header {
  background-image: url("../images/wrapper/menu-list.jpg");
  background-position: bottom; }
