.reservation{
    background:url(images/5134.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

 .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
 .box-container .box{
    background: #fff;
    width: 35rem;
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.2);
    text-align: center;
}

 .box-container .box img{
    height:20rem;
    width:100%;
    object-fit: cover;
}

 .box-container .box h3{
    color:#333;
    font-size: 2rem;
    font-weight: normal;
}

 .box-container .box .stars i{
    color:var(--yellow);
    font-size: 2rem;
    padding: 1rem .1rem;
}

 .box-container .box .price{
    color:#666;
    font-size: 2.5rem;
}

 .box-container .box:hover{
    transform: scale(1.02);
    box-shadow: 0.1rem 1rem rgba(0,0,0,.2);
}






:root{
    --yellow:#F7CA3E;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition:all .2s linear;
}

h1, h3{
    font-family: 'Oswald', sans-serif;
}

*::selection{
    background:var(--yellow);
    color:#fff;
}







.btn{
    font-size: 1.7rem;
    padding:.7rem 4rem;
    border-radius: 5rem;
    margin-top: 1rem;
    background:none;
    color:#333;
    cursor: pointer;
    border:.2rem solid var(--yellow);
}

.btn:hover{
    background:var(--yellow);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.navbar-brand img
{
    height:50px;
    padding-left: 30px;
    margin-left: 2px;
}

header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: none;
    margin-left: 10px;
}

header.sticky .logo{
    color: #111;
}

header .logo span{
    color: #ff0157;
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
    margin-left: 30px;
}

header .navigation li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

header.sticky .navigation li a{
    color: #111;
}

header .navigation li a:hover{
    color: #ff0157;
}




@media (max-width:991px){

    header,
    header.sticky{
        padding: 10px 20px;
    }

    header .navigation{
        display: none;
    }

    header .navigation.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }

    header .navigation li{
        margin-left: 0;
    }

    header .navigation li a{
        color: #111;
        font-size: 1.6em;
    }

    

    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(./images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle.active{
        background: url(./images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    header.sticky .menuToggle{
        filter: invert(1);
    }

    
}


